.mainPage {
    display: grid;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.matchElements {
    display: grid;
    grid-template-columns: repeat(5, 5rem);
    grid-auto-rows: 75px;
    gap: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.winner {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.rules {
    margin-bottom: 2rem;
    font-size: 1.25rem;
}