
.matchElements {
    display: grid;
    grid-template-columns: repeat(5, 5rem);
    gap: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    font-size: 2.5rem;
}
.gameField {
    display: grid;
    grid-template-columns: 1fr 5rem;
    align-items: center;
}

.quantity {
    font-size: 2rem;
    font-weight: 700;
    justify-self: end;
}

